.dark-purple-background{
    background-color: #572345;
}

.white-background{
    background-color: white;
}

.text-shadow-big{
    text-shadow: 2px 2px black;
}

.text-shadow-tiny{
    text-shadow: 1px 1px black;
}

.text-height{
    line-height: 27px;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.white-text{
    color: white;
}


.black-text{
   color: black;
}

.border-purple{
    border: 6px solid #572345;
}

.border-curves{  
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

.round-corners{
    border-radius: 7px;
}

.max-width{
    width: 100%;
}

.touch{
    cursor: pointer;
}

.opacityContainer{
    background-color: rgba(0, 0, 0, 0.534);
}

section.big-section div.opacityContainer{
    height: 600px;
}

section.container-quote div.opacityContainer{
    height: 400px;
}

.subtitles{
    font-size: .9rem;
}

.header{
    height: 95px;
    border-bottom: 10px solid #572345;
}

.header h1{
    margin: 16px 0 3px 5px;
    font-family: Bellarush;
    font-size: 3.3rem;
}

.header img{
    width: 50px;
}

ul{
    margin-top: 10px;
    border: 6px solid #572345;
    padding: 5px 2px 5px 2px;
    width: 350px;
    border-radius: 10px;
    font-size: .8rem;
}

ul a:hover{
    color: purple;
}

.main{
    padding-top: 80px;
}

.big-section{
    height: 600px;
    gap: 36px;
    background-image: url("../img/hive.jpg");
}

section.big-section article:first-child{
    width: 456px;
}

section.big-section p{
    text-align: justify;
    width: 600px;
    margin-top: 7px;
}

h2{
    width: 600px;
    font-size: 2.2rem;
}

.img-big{
    width: 400px;
    height: auto;
}

.img-medium{
    width: 200px;
    height: 135px;
}

section.big-section button{
    border: none;
    padding: 5px 25px 8px 25px;
    margin-top: 15px;
}

h3{
    font-size: 1.6rem;
    width: 800px;
    padding: 10px 10px 10px 10px;
    background-color: #572345;
}

.gallery{
    height: 500px; 
    text-align: justify;
    gap: 80px;
}

.title-gallery{
    padding: 10px 10px 10px 10px;
}

section.gallery article{
    width: 1000px;
} 

.item-gallery{
    width: 180px;
    gap: 7px;
}

.container-quote{
    height: 400px;
    background-image: url("../img/sunflowers.jpg");
    background-position: 0 550px;
}

.quote{
    width: 1000px;
}

.quote p:not(p.author){
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.author{
    align-self: flex-end;
}

.signup{
    height: 300px;
}

.sign{
    width: 1000px;
    padding: 40px 100px 40px 100px;
}

.sign button{
    border: 2px solid white;
    padding: 5px 40px 7px 40px;
}

button:hover{
    background-color: purple;
}

footer{
    height: 100px;
}
