.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.justifyCenter{
    justify-content: center;
}

.alignCenter{
    align-items: center;
}

.justifySpaceAround{
    justify-content: space-around;
}

.main{
    flex: 1;
}



