.flex{
    display: flex;
}

.alignCenter{
    align-items: center;
}

.whiteText{
    color: white;
}

.header{
    justify-content: space-around;
    padding: 10px 0 0 0;
}

.header h1{
    font-size: 1.4rem;
}

ul{
    justify-content: space-around;
    width: 500px;
    font-size: .9rem;
}

.big-section{
    height: 400px;
    justify-content: center;
    gap: 20px;
}

